body {
    background-color: #0d0f12 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BANNER SUPERIOR DE LA IMAGEN */
.banner-header {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(13,15,18,1) 100%), url('banner-bolivia.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #333;
}

.glow-text {
    text-shadow: 0 0 15px rgba(255, 193, 7, 0.5);
}

/* DIBUJO DE BOTONES DE LA GRILLA DE NÚMEROS */
#gridContainer button {
    width: 65px;
    height: 40px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 14px;
}

/* ESTADOS DE LOS NÚMEROS */
.btn-disponible {
    background-color: #28a745 !important;
    color: #fff !important;
    border: none;
}

.btn-seleccionado {
    background-color: #ffc107 !important;
    color: #000 !important;
    font-weight: 800;
    border: none;
}

.btn-ocupado {
    background-color: #dc3545 !important;
    color: #fff !important;
    border: none;
    opacity: 0.6;
    cursor: not-allowed;
}